@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1647498024097') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shuju:before {
  content: "\100ac";
}

.icon-Txu:before {
  content: "\e6ba";
}

.icon-waitao:before {
  content: "\e6bb";
}

.icon-bao:before {
  content: "\e6bc";
}

